build --test_timeout=10 --test_env=LOG_LEVEL=DEBUG

# SHARED ENV VARIABLES
build --test_env=NATS_ADDR=stan://localhost:4222
build --test_env=NATS_CLUSTER=scalemate
build --test_env=JWT_SECRET_KEY=A11YourBaseAreBel0ngToUs

# ACCOUNTS SERVICE ENV VARIABLES
build --test_env=ACCOUNTS_DB_URL="host=localhost port=25432 user=postgres dbname=postgres password=postgres sslmode=disable"
build --test_env=ACCOUNTS_BCRYPT_COST=4
build --test_env=ACCOUNTS_ACCESS_TOKEN_TTL=10m
build --test_env=ACCOUNTS_REFRESH_TOKEN_TTL=168h
build --test_env=ACCOUNTS_TLS_CERT_FILE=__main__/cert/cert.pem
build --test_env=ACCOUNTS_TLS_KEY_FILE=__main__/cert/key.pem

# SCHEDULER SERVICE ENV VARIABLES
build --test_env=SCHEDULER_DB_URL="host=localhost port=35432 user=postgres dbname=postgres password=postgres sslmode=disable"
build --test_env=SCHEDULER_TLS_CERT_FILE=__main__/cert/cert.pem
build --test_env=SCHEDULER_TLS_KEY_FILE=__main__/cert/key.pem
